/* Register.css */

.register-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .register-container form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .register-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-container .form-group {
    margin-bottom: 20px;
  }
  
  .register-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .register-container input[type="text"],
  .register-container input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-container button:hover {
    background-color: #0056b3;
  }
  